.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    width: 100%;
    max-width: 1000px;
    column-gap: 30px; 
    margin: 0 auto;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    background-color: aqua;
  }
  
  .image > img {
    width: 100%;
    height: 100%;
    object-fit:contain; 
    object-position: center;
  }

  .detail__info {
    display: flex;
    flex-direction: column;
  } 